@import "../../../Pallette.css";

/*------------------------------------------------------------------------------------- \
|                                 ITEM DETAIL STYLING                                   |
\-------------------------------------------------------------------------------------- */
.item-detail-container-father {
  width: 75%;
  height: 100%;
  padding: 80px 20px;
  margin: 50px auto;
  border: 1px solid var(--grey);
  border-radius: 35px;
}

.item-detail-container {
  padding: 0 40px;
}

.price-badge {
  display: flex !important;
  gap: 3px !important;
  align-content: center !important;
  padding: 8px !important;
  border-radius: 10px;
}

.image-desktop {
  height: auto;
  width: 100%;
  margin: 0 10px;
}

.css-lob7a4 {
  display: flex !important;
  gap: 5px !important;
  align-items: center !important;
  padding: 4px 4px 4px 10px !important;
  border-radius: 6px !important;
}

.image-mobile {
  display: none;
}

.avatar-container {
  width: 40%;
  height: fit-content;
  border: 1px solid var(--grey);
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .item-detail-container {
    flex-direction: column !important;
    align-items: center;
    width: 100%;
    padding: 0 !important;
  }

  .item-details {
    width: 100% !important;
  }

  .item-details-description {
    width: 90% !important;
  }

  .image-desktop {
    display: none;
  }

  .image-mobile {
    display: block;
    width: 95% !important;
    height: auto;
    margin: 5px !important;
  }

  .avatar-container {
    width: 90% !important;
    margin: 50px;
  }

  .avatar-details-container {
    gap: 5px !important;
  }
}
