@import "../../../Pallette.css";

/*------------------------------------------------------------------------------------- \
|                                 ITEM DETAIL STYLING                                   |
\-------------------------------------------------------------------------------------- */

.css-lob7a4 {
  display: flex !important;
  gap: 5px !important;
  align-items: center !important;
  padding: 4px 4px 4px 10px !important;
  border-radius: 6px !important;
}

.image-mobile {
  display: none;
}

@media (max-width: 900px) {
  .item-detail-container-father {
    margin: 0 !important;
  }

  .item-detail-container {
    flex-direction: column !important;
    align-items: center;
    width: 100%;
  }

  .item-details {
    width: 100% !important;
  }

  .price-badge {
    display: flex !important;
    gap: 3px !important;
    align-content: center !important;
    padding: 8px !important;
    border-radius: 10px;
  }

  .item-details-description {
    width: 90% !important;
  }

  .image-desktop {
    display: none;
  }

  .image-mobile {
    display: block;
    width: 85% !important;
    height: auto;
    margin: 5px !important;
  }

  .avatar-container {
    width: 90% !important;
    margin: 50px;
    gap: 10px;
    justify-content: center !important;
    border: 1px solid var(--grey);
    padding: 20px;
    border-radius: 20px;
  }

  .avatar-details-container {
    gap: 5px !important;
  }

  .avatar-email {
    display: none;
  }
}
