@import "../../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                        ITEM LIST CONTAINER STYLING                               |
\-------------------------------------------------------------------------------- */

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.item-list-father-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
