@import "../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                               Landing STYLING                                  |
\-------------------------------------------------------------------------------- */

.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.greeting {
  font-family: "Caudex", serif;
  font-size: 2.25rem;
  margin-bottom: 0.2em;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 800px;
}

.rick-astley:hover {
  font-weight: 600;
  color: #80ff00;
}

.btn-explore {
  margin-top: 1.5em;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {
  .landing-container {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .subtitle {
    max-width: 300px;
  }

  .character-image {
    display: none;
  }

  .btn-explore {
    margin-top: 40px;
  }
}

.character-image {
  max-height: 650px;
  width: auto;
}
