@import "../../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                               ITEM STYLING                                  |
\-------------------------------------------------------------------------------- */


.css-1se4623>*:not(style)~*:not(style) {
    margin-top: 0 !important;
}

.css-mazao {
    height: inherit !important;
}

.css-x5opt7 {
    min-width: 0 !important;
    flex: 1 1 1 !important;
}