/*-------------------------------------------------------------------------------- \
|                                 COLOR PALLETTE                                 |
\-------------------------------------------------------------------------------- */

:root {
    --black: #1e2029;
    --white: #FFFFFFFF;
    --grey: #e3e3e3;
    --lime: #e0ff00;
}