@import "../../../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                               LEFT NAV STYLING                                  |
\-------------------------------------------------------------------------------- */

@media (max-width: 900px) {
  .categories-container {
    display: none !important;
  }

  .leftnav-father-container {
    width: 85% !important;
    margin: auto;
  }
}
