@import "../../../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                               LEFT NAV STYLING                                  |
\-------------------------------------------------------------------------------- */

/* .leftnav-father-container {
  position: relative;
} */

/* .leftnav-container {
  position: absolute;
  left: -150px;
  top: 35px;
} */
