@import "../../../Pallette.css";

/*----------------------------------------------------------------------------------- \
|                                 CART ITEM STYLING                                   |
\----------------------------------------------------------------------------------- */

.cart-item-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.item-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 20px;
  font-weight: bolder;
}

.detail-subtitle {
  font-weight: bold;
  display: inline;
}

.remove-item {
  align-self: center;
}

@media (max-width: 900px) {
  .cart-item-container {
    margin: 30px 5px;
  }
  .item-container {
    margin: 5px;
  }
  .item-name {
    font-size: 20px;
  }
}
